{{define "menu"}}
<div class="sidemenu vh-100" style="overflow-y: auto;">
	<ul class="nav flex-column mb-5">
		<li class='nav-item'><a href='/customer' class='nav-link py-1'>customer</a></li>
		<li class='nav-item'><a href='/product_category' class='nav-link py-1'>product_category</a></li>
		<li class='nav-item'><a href='/product' class='nav-link py-1'>product</a></li>
		<li class='nav-item'><a href='/supplier' class='nav-link py-1'>supplier</a></li>
		<li class='nav-item'><a href='/payment_method' class='nav-link py-1'>payment_method</a></li>
	</ul>
</div>
{{end}}