{{define "modal"}}
<!-- 削除確認モーダル -->
<div class="modal" tabindex="-1" id="ModalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">削除</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>この操作は元には戻せません。よろしいですか？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="ModalDeleteOk">削除</button>
            </div>
        </div>
    </div>
</div>

<!-- 保存確認モーダル -->
<div class="modal" tabindex="-1" id="ModalSave">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">保存</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>この操作は元には戻せません。よろしいですか？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="ModalSaveOk">保存</button>
            </div>
        </div>
    </div>
</div>
{{end}}