{% extends 'base.html' %}

{% block content %}
<h2 class="ps-2 my-2">employee（従業員マスタ）</h2>
<hr class="mt-0 mb-2">
<div class="w-100 vh-100 px-3">
	<div id=message></div>
	<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalDeleteAll">削除</button>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalSaveAll">保存</button>
	<button type="button" class="btn btn-secondary" id="reload">リロード</button>
	<div class="table-responsive mt-2" style="height:70%">
	<table class="table table-hover table-bordered table-sm">
		<thead>
			<tr class="fixed-table-header bg-light">
				<th>削除</th>
				<th>id</th>
				<th>first_name<spnn style='color:red;'>*</spnn></th>
				<th>last_name</th>
				<th>email</th>
				<th>phone_number</th>
				<th>address</th>
				<th>hire_date</th>
				<th>job_title</th>
				<th>department_code</th>
				<th>salary</th>
				<th>created_at</th>
				<th>updated_at</th>
			</tr>
		</thead>
		<tbody id="records">
		</tbody>
	</table>
	</div>
</div>
<script src="/js/employee.js"></script>
{% endblock %}