* { margin: 0; padding: 0; box-sizing: border-box; }

footer{
    position: absolute;
    bottom: 0;
}

table input{
    border: none;
}

table input[type="text"]:focus {
    outline: 0;
}

.changed {
    background-color: #f26651;
}