* { margin: 0; padding: 0; box-sizing: border-box; }

html {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-width: 100vw;
    min-width: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

footer{
    position: absolute;
    bottom: 0;
}

table input{
    border: none;
}

table input[type="text"]:focus {
    outline: 0;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px;
}

.changed {
    background-color: #ffc107;
}

.fixed-table-header {
    position: sticky;
    top: 0;
    z-index: 1;
}